
<h1>Avisos</h1>
<br>
<%= link_to 'Novo Aviso', new_notice_path, :class => "btn btn-success" %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Assunto</th>
      <th>Texto</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.subject %></td>
        <td><%= truncate(notice.text, length:90) %></td>
        <td><%= notice.user.email %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Mostrar', notice, :class => "btn btn-info" %></button>
            <%= link_to 'Editar', edit_notice_path(notice), :class => "btn btn-warning" %>
            <%= link_to 'Excluir', notice, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

