<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @notice.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notice.text %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
